*
!index.html
!blender/chair.glb
!preview/cycles-cover.jpg
!preview/cycles-cover-moody.jpg
!nginx.conf
!preview/portfolio.jpg
!preview/portfolio.jpg
!blender/decor_liberty.glb
!blender/decor_monkey.glb
